/* FLOATING BUTTON*/
#btnScroll{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
    background: hsl(240, 65%, 54%);
    color: #fff;
    border: 1px solid hsl(240, 65%, 54%);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
}
#btnScroll:active{
    background: hsl(240, 82%, 57%);
}
body{
    font-family: sans-serif;
}
a.navbar-brand {
    font-size: 2rem;
    font-family:cursive;
    font-weight: 600;
    letter-spacing: 0.5px;
}
a.nav-link:hover {
    color: black;
    font-size: 17px;
    font-weight:600;
}
/* .banner{
    width: 100vw;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(sonny\ 2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.banner h2{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-size: 1.7rem;
   font-weight: 600;
} */
.brand{
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
    margin-right: auto;
}
.fas{
    float: left;
    padding: 15px 20px;
    /* padding-left: 15px; */
    font-size: 30px;
    transition: ease-in-out 1s;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/sonnyTech.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 65px;
    font-weight: 500;
}
.content h1 span{
    /* color: #ff3753; */
    color: #ff3753;
}
.content p{
    font-size: 20px;
    font-weight: 500;
    color:orange ;
}
button{
    background: transparent;
    padding: 12px 25px;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: 0.5s;
}
button:hover{
    color: black;
    font-weight:500;
    background: white;
    
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.rocket{
    width: 200px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 3s linear infinite;
}
@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 2;
    }
    
}