:root{
    --color: #ff6734;
    --white: #fff;
  --black: #1c2b2d;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --twitter:  hsl(207, 93%, 46%);
  --fb:hsl(221, 89%, 41%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.brand{
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
    margin-right: auto;
}
.fas{
    float: left;
    padding: 15px 20px;
    /* padding-left: 15px; */
    font-size: 30px;
    transition: ease-in-out 1s;
}
.html-h2{
    color: rgb(245, 108, 245);
}
.html-p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--twitter)
}
.html-span{
    color: var(--light-blue);
    font-size: 0.9rem;
    font-weight: 600;
}
.css-h2{
    color: var(--twitter);
}
.css-p{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(228, 79, 153);
}
.css-span{
    color: var(--light-blue);
    font-size: 0.9rem;
    font-weight: 600;
}