:root{
    --color: #ff6734;
    --white: #fff;
  --black: #1c2b2d;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --twitter:  hsl(207, 93%, 46%);
  --fb:hsl(221, 89%, 41%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.brand{
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
    margin-right: auto;
}
.fas{
    float: left;
    padding: 15px 20px;
    /* padding-left: 15px; */
    font-size: 30px;
    transition: ease-in-out 1s;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/sonnyTech.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 65px;
    font-weight: 500;
}
.content h1 span{
    /* color: #ff3753; */
    color: #ff3753;
}
.content p{
    font-size: 20px;
    font-weight: 500;
    color:orange ;
}
button{
    background: transparent;
    padding: 12px 25px;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: 0.5s;
}
button:hover{
    color: black;
    font-weight:500;
    background: white;
    
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.rocket{
    width: 200px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 3s linear infinite;
}
@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 2;
    }
    
}

